@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

header {
    display: flex;
    font-size: 24px;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px 100px;
    flex: 1;
    
}

.links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 70px 100px;
    gap: 10px;
    flex: 1 auto;
    justify-content: space-between;
}

.hero .main {
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
}

.hero .secondary {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    border: none;
    padding: 5px 30px;
    font-weight: bold;
    margin-top: 10px;
}

.first {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937 ;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    text-align: center;
    gap: 20px;
}

.container {
    display: flex;
    font-size: 18px;
    color: #1f2937;
    justify-content: center;
    margin-bottom: 50px;
}

.stuff {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center; 
}

.box {
    height: 150px;
    width: 150px;
    border: solid #3882f6 3px;
    border-radius: 10px;
    margin: 10px 0;  
}

.second {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 24px;
    padding: 100px 150px;
    text-align: right;
    font-weight:900;
}

.qb {
    max-width: 750px;
}

.second .quote {
    font-size: 36px;
    font-style: italic;
    text-align: left;
    font-weight:normal
}

.third {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 100px;
}

.banner {
    background-color: #3882f6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 100px;
    border-radius: 10px;
}

.two {
    border: white solid 1pt;
    min-width: 120px;
    max-height: 35px;
}

.btitle {
    font-size: 24px;
    font-weight: 700;
}

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    color: white;
    justify-content: center;
    align-content: center;
}